<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="canonical" href="https://example.com/" />
  <title>TITLE</title>
  <meta name="description" content="TITLE">
  <link rel="stylesheet" href="style.css">
</head>

<h1>TITLE</h1>


